<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>
<%= @customer.name %>
<%= @customer.name_kana %>
<%= @customer.phone_number %>
<%= @customer.email %>
<%= link_to "会員編集" ,    edit_customer_path(@customer) %>