<h1>Public::Customers#show</h1>
<p>Find me in app/views/public/customers/show.html.erb</p>
<%= @customer.name %>
<%= @customer.name_kana %>
<%= @customer.phone_number %>
<%= @customer.email %>
<%= link_to "会員編集" ,    edit_customer_path(@customer) %><br>
<% @orders.each do |order| %>

<ol>
  <li><%= order.created_at %></li>
  <li>
    <ul>
      <% order.reserves.each do |reserve| %>
        <li><%= reserve.visit %></li>
        <% reserve.cart_data_hash.each do |item| %>
          <li><%= item[:name] %> × <%= item[:amount] %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
</ol>

<% end %>