
<div class="container m-5">
  <div class="row">
    <div class="text-center col-sm-8">
      <%= image_tag @admin.get_profile_image(400,400)%>
    </div>
    <div class="col-sm-4">
      <table class="table table-borderless">

         <tr>
            <td><h3><%= @admin.name %></h3></td>
         </tr>
         <tr>
            <td><h6><%= @admin.address %></h6></td>
         </tr>
         <tr>
            <td><h3><%= @admin.phone_number %></h3></td>
         </tr>
         <tr>
            <td><%= @admin.home_page %></td>
         </tr>
         <tr>
            <td><%= @admin.start_offer %></td>
         </tr>
         <tr>
            <td><%= @admin.end_offer %></td>
         </tr>

        </table>
      </div>
  </div>
</div>

<div id="map"></div>

<%= render 'public/favorites/favorite', admin: @admin %>

<script type="text/javascript">
     function initMap() {
       var test = {lat: <%= @admin.latitude %>, lng: <%= @admin.longitude %>};
       var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 15,
                 center: test
                 });
       var transitLayer = new google.maps.TransitLayer();
       transitLayer.setMap(map);
       var contentString = '住所：<%= @admin.address %>';
       var infowindow = new google.maps.InfoWindow({
         content: contentString
       });
       var marker = new google.maps.Marker({
                     position:test,
                     map: map,
                     title: contentString
                   });
       marker.addListener('click', function() {
         infowindow.open(map, marker);
       });
     }
   </script>
   <script async defer
             src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
   </script>
   <style type="text/css">
     #map { height: 200px;
           width: 70%;}
   </style>
   <div id="map"></div>