<div class="containar">
      <div class="row no-gutters">
        <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow rounded px-0 my-5">
          <h5 class="text-dark bg-light py-4 mb-0">店舗ログイン</h5>
            <div class="form-body p-4">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.label :メールアドレス %>
              <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"メールアドレス" %>
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword", placeholder:"パスワード" %>
              <div class="actions">
                <%= f.submit "店舗ログイン" ,class: "btn btn-success"%>
              </div>
              <% end %>
            </div>
        </div>
      </div>
</div>