<% if  @genre.errors.any? %>
  <ul class="text-center alert alert-danger"style=" list-style: none; ">
    <%=  @genre.errors.count %>件のエラーが発生しました
    <% @genre.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<div class="container mt-5 mb-2">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center font-weight-bold " style="color: #6e470c; ">
      ジャンル編集</h4>
    </div>
  </div>
</div>
<div class="container mb-5 pb-5" style= "min-height: 330px;">
   <div class="row">
     <div class="col-6 offset-3 text-center">
       <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
         <p class="font-weight-bold mb-4 m-3"><%= f.label :name, "ジャンル名" %></p>
         <div class=" mb-5"><%= f.text_field :name, class:'form-control' %></div>
         <%= f.submit '変更を保存', class: 'btn btn-secondary btn-block' %>
       <% end %>
    </div>
  </div>
</div>