<h1>Admin::Admins#edit</h1>
<p>Find me in app/views/admin/admins/edit.html.erb</p>
<%= form_with model: @admin, url: admin_path(@admin) do |f| %>
  <%= f.label :"店舗名" %>
  <%= f.text_field :name %>
  <%= f.label :"住所" %>
  <%= f.text_field :address %>
  <%= f.label :"電話番号" %>
  <%= f.text_field :address %>
  <%= f.label :"店舗HP" %>
  <%= f.text_field :home_page %>
  <%= f.label :"メールアドレス"%>
  <%= f.email_field :email %>
  <%= f.submit "編集内容を保存"%>
<% end %>
