<h1>Admin::Admins#show</h1>
<p>Find me in app/views/admin/admins/show.html.erb</p>
<%= @admin.name %>
<%= @admin.address %>
<%= @admin.phone_number %>
<%= @admin.home_page %>
<%= link_to "会員編集" ,    edit_admin_path(@admin) %>

