<h1>Admin::Admins#show</h1>
<p>Find me in app/views/admin/admins/show.html.erb</p>
<%= image_tag @admin.get_profile_image(350,350)%>
<%= @admin.name %>
<%= @admin.address %>
<%= @admin.phone_number %>
<%= @admin.start_offer %>
<%= @admin.end_offer %>
<%= @admin.home_page %>
<%= link_to "会員編集" ,     edit_admin_admin_path(@admin) %>

