<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center font-weight-bold" style="color: #6e470c; ">
        予約一覧
      </h4>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <% @orders.each do |order| %>
          <% order.reserves.each do |reserve| %>
            <tr>
              <td>予約日時　　<%= reserve.created_at.strftime("%-m月%-d日%H時%M分")  %></td>
            </tr>
            <tr>
              <td>店舗名　　<%= reserve.admin.name %></td>
            </tr>
            <tr>
              <td>ご来店予定時間　　<%= reserve.visit.strftime("%-m月%-d日%H時%M分")  %></td>
            </tr>
            <tr>
              <td>来店ステータス
                <% if reserve.visit_status %>
                  <div class='text-secondary'>来店済み </div>
                <% else %>
                  <div class="text-success">来店予定 </div>
                <% end %>
              </td>
            </tr>
            <tr>
              <td>合計金額(税込)　　<%= reserve.total_payment %>円</td>
            </tr>
            <tr>
              <td>商品名 x 予約個数</td>
              <% reserve.cart_data_hash.each do |item| %>
                <td><p><%= item[:name] %> × <%= item[:amount] %></p></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>