<div class="container mt-4 mb-3">
  <div class="row">
    <div class="col-12">
      <h4 class="text-center font-weight-bold" style="color: #6e470c; ">
        商品一覧
      </h4>
    </div>
  </div>
</div>
<div class="container ">
  <%= render 'all_search' ,  search:  @search %>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-12 d-none d-md-block">
      <p class="text-center font-weight-bold border-bottom  border-dark" style="color: #6e470c; ">
        ジャンル一覧
      <p>
    </div>
  </div>
</div>
<%= render "genre_list", genres: @genres %>
<div class="container mt-2">
  <div class="row">
    <div class="col-12">
      <p class="font-weight-bold border-bottom  border-dark" style="color: #6e470c; ">
        商品数(<%= Item.count %>)件
        | <%= link_to '新着順', items_path(top: "true") , class: "text-reset"%>
        | <%= link_to '商品登録順', items_path(old: "true") , class: "text-reset"%>
      <p>
    </div>
  </div>
</div>
<div class="container-fluid  mb-4">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card mb-7 shadow-sm">
          <div class="card-img-top d-block overflow-hidden">
            <div class="text-center position-relative">
              <%= link_to item_path(item.id) do %>
                <div class="img_wrap"><%= image_tag item.get_profile_image(290,250), class: 'img-fluid'%></div>
              <% end %><br>
              <p class="font-weight-bold">
                <%= link_to  admin_path(item.admin) , class: "text-decoration-none text-reset" do %>
                  <%= image_tag item.admin.get_profile_image(50,50), class: "rounded-circle"%>
                  <%= item.admin.name %>
                <% end %>
              </p>
              <p class="font-weight-bold"><%= item.name %></p>
              <p class="font-weight-bold">
                半額価格<%= item.half_price %>円
                残り<%= item.inventory %>個
              </p>
              <% if item.is_ordered? %>
								<div class="text-success font-weight-bold">Sale</div>
							<% else %>
								<div class='text-danger font-weight-bold'>Sold-Out</div>
							<% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="pagination justify-content-center ">
  <%= paginate @items %>
</div>