<% if @results.first %>
  <div class="container mt-4 mb-3">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center font-weight-bold " style="color: #6e470c; ">
          検索結果
        </h4>
      </div>
    </div>
  </div>
  <div class="container-fluid  mb-4 ">
    <div class="row">
      <% @results.each do |search_item| %>
        <div class="col-12 col-md-4 col-lg-3">
          <div class="card mb-7 shadow-sm">
            <div class="card-img-top d-block overflow-hidden">
              <div class="text-center position-relative">
                <div class="img_wrap"><%= image_tag search_item.get_profile_image(250,250)%></div>
                <p class="font-weight-bold">
                  <%= link_to  admin_path(search_item.admin) , class: "text-decoration-none text-reset" do %>
                    <%= image_tag search_item.admin.get_profile_image(50,50) , class: "rounded-circle"%>
                    <%= search_item.admin.name %>
                 <% end %>
                </p>
                <p class="font-weight-bold"><%= search_item.name %></p>
                <p class="font-weight-bold">
                  半額価格<%= search_item.half_price %>円
                  残り<%= search_item.inventory %>個
                </p>
                <% if search_item.is_ordered? %>
								  <div class="text-success font-weight-bold">Sale</div>
					   		<% else %>
						  		<div class='text-danger font-weight-bold'>Sold-Out</div>
						  	<% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <div class="container mt-5  pb-4">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center font-weight-bold " style="color: #6e470c; ">
          <%= @results.name %>の検索結果
        </h4>
      </div>
    </div>
  </div>
  <div class="container">
  	<div class="row">
  	  <div class="col-6 offset-md-3  pt-5  pb-5  text-center mb3  shadow-sm bg-white  border border-5 ">
    		<h5><%= @results.name %>のジャンルの商品がありませんでした</h5>
      </div>
    </div>
    <div class="container mt-4 mb-4">
      <div class="row">
        <div class="col-12">
          <p class="text-center font-weight-bold border-bottom  border-dark" style="color: #6e470c; ">
          ジャンル一覧から探す<p>
        </div>
      </div>
    </div>
    <%= render "/public/items/genre_list", genres: @genres %>
  </div>
<% end %>