<% if  @item_comment.errors.any? %>
 <ul class="text-center alert alert-danger"style=" list-style: none; ">
  <%=  @item_comment.errors.count %>件のエラーが発生しました
  <% @item_comment.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="text-center col-sm-12 col-md-8">
      <%= link_to  admin_path(@item.admin) , class: "text-decoration-none" do %>
        <%= image_tag @item.get_profile_image(700,700), class: 'img-fluid'%>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-4">
      <table class="table table-borderless">
        <tr>
          <td>
           <%= link_to  admin_path(@item.admin) , class: "text-decoration-none" do %>
             <%= image_tag @item.admin.get_profile_image(150,150), class: 'img-fluid'%>
           <% end %>
          </td>
        </tr>
        <tr>
          <td><h5><%= @item.name %></h5></td>
        </tr>
        <tr>
          <td><h6><%= @item.explanation %></h6></td>
        </tr>
        <tr>
          <td><h5>提供価格<%= @item.half_price %>円(税込)</h5></td>
        </tr>
        <tr>
          <td>正規価格<%= @item.price %>円(税込)</td>
        </tr>
        <tr>
          <td>在庫数 <%= @item.inventory %>個</td>
        </tr>
        <tr>
          <td><i class="far fa-comment-dots"></i> <%= @item.item_comments.count %> 件</td>
        </tr>
        <tr>
          <td>
            <% if customer_signed_in? %>
              <% if @item.is_ordered == true %>
                <%= form_with model: @cart_item, url: cart_items_path(item_id: @item.id)  do |f| %>
                  <%= f.hidden_field :item_id, value: @item.id %>
                  <%= f.hidden_field :customer_id, :value => current_customer.id %>
                  <%= f.select :amount,@item_inventory,{include_blank: '個数選択'},required:true%>&emsp;
                  <%= f.submit 'カートに入れる' ,class: 'btn btn-danger btn-sm'%>
                <% end %>
              <% else %>
                <h5 class="text-danger">sold-out</h5>
            　<% end %>
           　  <%= link_to cart_items_path , class: "text-reset" do %>
                <i class="fas fa-shopping-cart "></i> カートに戻る
            　<% end %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="text-center font-weight-bold border-bottom  border-dark" style="color: #6e470c; ">
        クチコミをレビューする
      <p>
    </div>
  </div>
</div>
<div class="container mb-4">
  <div class="row">
    <div class="col-md-8  col-sm-12 bg-white border border-secondary rounded shadow-sm">
      <% @item.item_comments.each do |item_comment| %>
        <%= item_comment.created_at.strftime("%Y年%-m月%-d日%H時%M分")  %><br>
        <%= item_comment.customer.name %><br>
        <div id="star-rate<%= item_comment.id%>">
          <script>
            $('#star-rate<%= item_comment.id %>').empty();
            $('#star-rate<%= item_comment.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= item_comment.star %>,
            });
          </script>
        </div><br>
        <p class="border-bottom  border-dark">
          <%= item_comment.comment %>
        </p>
        <% if (item_comment.customer == current_customer) || admin_signed_in? %>
          <p>
            <%= link_to item_item_comment_path(item_comment.item, item_comment), method: :delete ,class: "text-reset" do %>
              <i class="fas fa-trash-alt"></i> クチコミを削除する
            <% end %>
          </p>
        <% end %>
      <% end %>
      </div>
      <div class="col-md-4 col-sm-12 text-center ">
        <%= form_with model: [@item, @item_comment] do |f| %>
          <div class="form-group row justify-content-center" id="star">
            <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
            <%= f.hidden_field :star, id: :review_star %>
          </div>
          <script>
            $('#star').empty();
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              scoreName: 'item_comment[star]',
              half: false,
            });
          </script>
          <%= f.text_area :comment, rows: '5', placeholder: "クチコミ本文を入れてください" , class: "form-control"%><br>
          <% if customer_signed_in?  %>
            <%= f.submit "クチコミを投稿する" ,class: 'btn btn-danger '%>
          <% else %>
            <p class="text-center font-weight-bold " style="color: #6e470c; ">口コミを投稿する際は会員登録をお願いします</p>
          <% end %>
        <% end %>
      </div>
  </div>
</div>