<nav class="navbar navbar-expand navbar-dark navbar-fixed-top shadow-sm", style="background-color: #ffffff;">
  <div class="container ">

    <div class="navbar-header">
      <%= link_to root_path, class: "navbar-brand" do %>
      <img src="/assets/logo.gif" width="150" height="60" class="d-inline-block align-top" alt="">
      <% end %>
    </div>


 <% if customer_signed_in? %>



        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "マイページ", my_page_customers_path, class: 'btn btn-dark  rounded-pill  mr-3 shadow-sm' %>
        </li>
        <li class="nav-item">
          <%= link_to "商品一覧", items_path, class: 'btn btn-dark rounded-pill  mr-3 shadow-sm' %>
        </li>
        <li class="nav-item">
          <%= link_to "カート", cart_items_path, class: 'btn btn-dark rounded-pill  mr-3 shadow-sm' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト",  destroy_customer_session_path, method: :delete, class: 'btn btn-dark rounded-pill  mr-3 shadow-sm' %>
        </li>
      </ul>
 <% elsif admin_signed_in? %>
      <ul class="navbar-nav ml-auto">

        <li>
          <%= link_to admin_items_path, class: 'btn btn-dark  rounded-pill  mr-3 shadow-sm'  do %>
          商品一覧
          <% end %>
        </li>
        <li>
          <%= link_to  my_page_admin_admins_path, class: 'btn btn-dark  rounded-pill  mr-3 shadow-sm'  do %>
          SHOPマイページ
          <% end %>
        </li>

        <li>
          <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-dark  rounded-pill  mr-3 shadow-sm'  do %>
          ログアウト
          <% end %>
        </li>
      </ul>
    <% else %>



      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "会員登録", new_customer_registration_path, class: 'btn btn-dark rounded-pill  mr-3 shadow-sm' %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-dark rounded-pill  mr-3 shadow-sm' %>
        </li>
        <li class="nav-item">
          <%= link_to "商品一覧", items_path, class: 'btn btn-dark rounded-pill  mr-3 shadow-sm'%>
        </li>
        <li class="nav-item">
          <%= link_to "店舗情報", "#", class: 'btn btn-dark rounded-pill  mr-3 shadow-sm' %>
        </li>
      </ul>

    <% end %>

    </div>
  </nav>
